<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>BigData</title>
</head>
<body>


<button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 mt-2 ms-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
    <span class="sr-only">Open sidebar</span>
    <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
        <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
    </svg>
</button>

<aside id="logo-sidebar" class="fixed flex justify-between top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0" aria-label="Sidebar">
    <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 ">

        <img src="https://static.vecteezy.com/system/resources/previews/010/434/619/non_2x/big-data-color-icon-cloud-computing-cloud-network-database-artificial-intelligence-isolated-illustration-vector.jpg" class=" h-auto w-[160px] " alt="Flowbite Logo" />

        <ul class="space-y-2 font-medium mt-20">
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 22 21">
                        <path d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z"/>
                        <path d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z"/>
                    </svg>
                    <span class="ms-3">Tableau de bord</span>
                </a>
            </li>
            <li>
                <a href="#" class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                    <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 18">
                        <path d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z"/>
                    </svg>
                    <span class="flex-1 ms-3 whitespace-nowrap">Les abonnés
              </span>
                </a>
            </li>




        </ul>
        <a href="#" class="flex items-center  p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3"/>
            </svg>
            <span class="flex-1 ms-3 whitespace-nowrap">Se déconnecter</span>
        </a>
    </div>
</aside>
<header>
    <nav class="bg-white border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800">
        <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
            <a href="https://flowbite.com" class="flex items-center">


            </a>
            <div class="flex items-center lg:order-2 border-solide border rounded-lg border-black-100 px-2">

                <img src="//e71850cda094bf148352bc9165beab95.cdn.bubble.io/f1714335903514x823407666396214200/a-l-l-e-f-v-i-n-i-c-i-u-s-343875-unsplash.svg" class="rounded-full">
                <div class="grid grid-cols-1 border-1  ">
                    <span class="text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">Ahmed Benasi</span>
                    <span class="text-gray-800 -mt-4 ml-1 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 ">RH</span>
                </div>

            </div>
            <div class="hidden justify-between items-center w-full lg:flex lg:w-auto lg:order-1" id="mobile-menu-2">

            </div>
        </div>
    </nav>
</header>


<div class="p-1 sm:ml-64 ">
    <div class="p-4 rounded-lg dark:border-gray-700">
        <div class="grid grid-cols-1gap-4 mb-4">

            <!-- component -->
            <div class="grid gap-6 mb-8 grid-cols-3 ">
                <div class="min-w-0 shadow-lg rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800">
                    <div class="p-4 flex items-center">
                        <div
                                class="p-3 rounded-full text-orange-500 dark:text-orange-100 bg-orange-100 dark:bg-orange-500 mr-4">
                            <svg fill="currentColor" viewBox="0 0 20 20" class="w-5 h-5">
                                <path
                                        d="M13 6a3 3 0 11-6 0 3 3 0 016 0zM18 8a2 2 0 11-4 0 2 2 0 014 0zM14 15a4 4 0 00-8 0v3h8v-3zM6 8a2 2 0 11-4 0 2 2 0 014 0zM16 18v-3a5.972 5.972 0 00-.75-2.906A3.005 3.005 0 0119 15v3h-3zM4.75 12.094A5.973 5.973 0 004 15v3H1v-3a3 3 0 013.75-2.906z"
                                ></path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Total des abonnements


                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">

                            <div class="text-3xl" id="documentCount">
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div  class="min-w-0 shadow-lg rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800">
                    <div class="p-4 flex items-center">
                        <div
                                class="p-3 rounded-full text-green-500 dark:text-green-100 bg-green-100 dark:bg-green-500 mr-4">
                            <svg fill="currentColor" viewBox="0 0 20 20" class="w-5 h-5">
                                <path
                                        fill-rule="evenodd"
                                        d="M4 4a2 2 0 00-2 2v4a2 2 0 002 2V6h10a2 2 0 00-2-2H4zm2 6a2 2 0 012-2h8a2 2 0 012 2v4a2 2 0 01-2 2H8a2 2 0 01-2-2v-4zm6 4a2 2 0 100-4 2 2 0 000 4z"
                                        clip-rule="evenodd"
                                ></path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Total des abonnements où prediction
                                est <br> Correct
                            </p>
                            <p class="text-2xl font-semibold text-gray-700 dark:text-gray-200">
                            <div class="text-3xl" id="churnPredictionCount">
                                <!-- The count of documents where Churn_prediction is True will be displayed here -->
                            </div>
                            </p>
                        </div>
                    </div>
                </div>
                <div   class="min-w-0 shadow-lg rounded-lg shadow-xs overflow-hidden bg-white dark:bg-gray-800" >
                    <div class="p-4 flex items-center">
                        <div
                                class="p-3 rounded-full text-blue-500 dark:text-blue-100 bg-blue-100 dark:bg-blue-500 mr-4"
                        >
                            <svg fill="currentColor" viewBox="0 0 20 20" class="w-5 h-5">
                                <path
                                        d="M3 1a1 1 0 000 2h1.22l.305 1.222a.997.997 0 00.01.042l1.358 5.43-.893.892C3.74 11.846 4.632 14 6.414 14H15a1 1 0 000-2H6.414l1-1H14a1 1 0 00.894-.553l3-6A1 1 0 0017 3H6.28l-.31-1.243A1 1 0 005 1H3zM16 16.5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zM6.5 18a1.5 1.5 0 100-3 1.5 1.5 0 000 3z"
                                ></path>
                            </svg>
                        </div>
                        <div>
                            <p class="mb-2 text-sm font-medium text-gray-600 dark:text-gray-400">
                                Total des abonnements où prediction est Incorrect :
                            </p>
                            <p class="text-lg font-semibold text-gray-700 dark:text-gray-200">
                            <div class="text-3xl" id="churnPredictionFalseCount">
                                <!-- The count of documents where Churn_prediction is False will be displayed here -->
                            </div>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="flex w-full items-center justify-center h-auto mb-4 rounded bg-gray-50 dark:bg-gray-800">

                <img class=" " src='/churn_by_state_bar_chart' alt="Bar Chart - Cars per Brand">
            <img src='/prediction_scatter_plot' alt="Line Chart - Reservations Over Time" class=" h-auto">

        </div>
        <div class="flex w-full items-center justify-center h-auto mb-4 rounded bg-gray-50 dark:bg-gray-800">

            <img src='/prediction_chart' alt="Pie Chart - Car Availability" class=" h-auto">
            <img src='/churn_heatmap_by_state' alt="jj" class="h-auto">

        </div>
        <img src='/avg_day_minutes_by_state' alt="Line Chart - Reservations Over Time" class=" h-auto">



    </div>
</div>
<script>
    // Fetch document count from Flask route
    fetch('/count_documents')
        .then(response => response.json())
        .then(data => {
            const documentCountElement = document.getElementById('documentCount');
            documentCountElement.innerHTML = `<p>${data.total_count}</p>`;

            const churnPredictionCountElement = document.getElementById('churnPredictionCount');
            churnPredictionCountElement.innerHTML = `<p> ${data.churn_true_count}</p>`;

            const churnPredictionFalseCountElement = document.getElementById('churnPredictionFalseCount');
            churnPredictionFalseCountElement.innerHTML = `<p>${data.churn_false_count}</p>`;
        })
        .catch(error => console.error('Error fetching document counts:', error));

    // Fetch churn predictions where Churn_prediction is True from Flask route
    fetch('/churn_predictions_true')
        .then(response => response.json())
        .then(data => {
            const churnPredictionsElement = document.getElementById('churnPredictions');
            churnPredictionsElement.innerHTML = '<h2>Documents avec Churn_prediction True :</h2>';
            data.forEach(prediction => {
                churnPredictionsElement.innerHTML += `<pre>${JSON.stringify(prediction, null, 2)}</pre>`;
            });
        })
        .catch(error => console.error('Error fetching churn predictions where Churn_prediction is True:', error));
</script>
</body>
</html>